root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Source files with spaces
[*.{js,css,html,json,md,yaml,yml,mdx,ts,tsx}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
ij_javascript_use_semicolon_after_statement = false
ij_typescript_use_semicolon_after_statement = false
ij_javascript_use_double_quotes = false
ij_typescript_use_double_quotes = false
